div.visualCue{
    position: absolute;
    top: 300px;
    border: 2px Solid darkblue;
    text-align: center;
    background-color: blueviolet;
    width: 250px;
    height: 220px;
    line-height: 180px;
    left: 42%;
    display: none;
}

